.footer-container {
  display: flex;
  justify-content: center;
  background-color: $color-white;
  height: 120px;

  @include mobile {
    height: unset;
  }

  @include tablets {
    height: unset;
  }

  &-content {
    max-width: 1110px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      width: 100%;
      flex-direction: column;
      text-align: center;
      margin-bottom: 30px;
    }

    @include tablets {
      width: 100%;
      flex-direction: column;
      text-align: center;
    }

    .icons {
      max-width: 420px;

      @include mobile {
        margin: 15px;
      }

      img,
      svg {
        margin: 0 16px;

        @include mobile {
          margin: 10px;
        }

        @include tablets {
          margin: 15px 20px;
        }
      }

      a {
        text-decoration: none;
        &:hover {
          svg {
            path {
              fill: $color-darkgreen;
            }
          }
        }
      }
    }

    span {
      font-size: 14px;
      color: $color-black;
      display: block;

      @include mobile {
        margin-bottom: 20px;
      }

      @include tablets {
        margin-bottom: 20px;
      }
    }

    .link {
      font-size: 16px;
      line-height: 19px;
      color: $color-black;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        color: $color-green;
      }

      @include mobile {
        display: block;
        margin-bottom: 20px;
      }
    }

    button {
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 16px;
      color: $color-black;
      background-color: $color-white;
      width: 170px;
      height: 40px;
      border-radius: 40px;
      border: 2px solid $color-green;
      margin: 0 0 0 40px;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: $color-green;
        color: $color-white;
      }

      @include mobile {
        margin: 0;
      }
    }
  }
}

.footer-bottom-line {
  height: 64px;
  background-color: $color-lightgray;
  display: flex;
  justify-content: center;

  @include mobile {
    padding: 20px 15px;
    height: unset;
  }

  &-content {
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span {
    color: $color-gray;
    font-size: 12px;

    @include mobile {
      padding-right: 15px;
    }
  }

  a {
    color: $color-gray;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      color: $color-green;
    }
  }
}
