.promo {
  height: 604px;
  background-color: $color-green;
  background-image: url('../images/promo-background.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  @include mobile {
    background-position: calc(50% - 196px) 50%;
  }

  &-container {
    max-width: 1110px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;

    &-content {
      width: 308px;
      color: $color-white;

      h2 {
        font-weight: bold;
        font-size: 48px;
        margin: 0 0 50px 0;
      }

      p {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 50px 0;
      }

      button {
        background-color: $color-green;
        color: $color-white;
        width: 170px;
        height: 49px;
        font-family: 'Roboto';
        font-size: 14px;
        border-radius: 40px;
        border: 2px solid $color-white;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover {
          background-color: $color-white;
          color: $color-green;
        }
      }
    }
  }
}

.special-offer {
  background-color: $color-lightgray;
  display: flex;
  justify-content: center;
  padding: 80px 0 132px 0;

  @include mobile {
    padding: 50px 0 0 0;
  }

  &-container {
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    background-image: url('../images/truck.png');
    background-repeat: no-repeat;
    background-position: 904px 0;

    h2 {
      font-weight: 700;
      font-size: 24px;
      margin: 0 0 38px 0;

      @include mobile {
        text-align: center;
      }
      @include tablets {
        text-align: center;
      }
    }

    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 0 100px 0;

      @include mobile {
        display: flex;
        justify-content: center;
        margin: 0 0 50px 0;
      }

      @include tablets {
        display: flex;
        justify-content: center;
      }

      .card {
        width: 255px;
        background-color: $color-white;
        text-align: center;
        color: $color-black;
        margin: 0 0 15px 0;

        @include tablets {
          margin-right: 10px;
        }

        @include mobile {
          margin-right: 10px;
        }

        img {
          margin: 25px 0 20px 0;
        }

        h3 {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }

        .price {
          font-size: 21px;
          font-weight: 500;
          margin: 20px 0;
        }

        button {
          font-family: 'Roboto';
          font-size: 14px;
          width: 130px;
          height: 35px;
          border-radius: 30px;
          background-color: $color-green;
          color: $color-white;
          border: 2px solid $color-green;
          margin: 0 0 25px 0;
          transition: all 0.5s ease;
          cursor: pointer;

          &:hover {
            background-color: $color-white;
            color: $color-green;
          }
        }
      }
    }
  }
}

.blocks {
  display: flex;
  justify-content: space-between;
  margin: 0 0 132px 0;
  max-width: 1110px;
  width: 100%;
  padding: 0 15px;

  @include mobile {
    margin-bottom: 50px;

    justify-content: center;

    flex-wrap: wrap;
  }

  @include tablets {
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
  }

  .bonus {
    max-width: 540px;
    width: 100%;
    background-color: $color-green;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-position: 309px 36px;
    padding: 25px 0 35px 40px;
    margin: 0 15px 0 0;

    @include mobile {
      margin: 0 0 15px 0;
      background-position: 94% 57%;
      width: 100%;
    }

    @include tablets {
      margin: 0 0 15px 0;
      background-position: 94% 57%;
      width: 100%;
    }

    h3 {
      font-weight: 700;
      font-size: 18px;
      color: $color-white;
    }

    h4 {
      font-size: 14px;
      line-height: 20px;
      color: $color-white;
    }

    input {
      border: none;
      max-width: 225px;
      height: 35px;
      color: $color-black;
      border-radius: 30px;
      padding: 9px 0 9px 25px;
      font-size: 14px;
      outline: none;
      font-family: inherit;
    }
  }

  .store-map {
    max-width: 540px;
    width: 100%;
    background-color: $color-green;
    padding: 35px 0 35px 40px;

    h3 {
      font-weight: 700;
      font-size: 18px;
      color: $color-white;
    }

    h4 {
      font-size: 14px;
      line-height: 20px;
      color: $color-white;
    }

    button {
      width: 170px;
      height: 35px;
      border: 2px solid $color-white;
      background-color: $color-green;
      color: $color-white;
      border-radius: 30px;
      font-family: 'Roboto';
      font-size: 14px;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: $color-white;
        color: $color-green;
      }
    }
  }
}
