/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.header-top-line {
  background-color: #efefef;
  display: flex;
  justify-content: center;
}
.header-top-line ul {
  margin: 0;
  padding: 17px 0;
  font-size: 14px;
  line-height: 16px;
}
.header-top-line ul li {
  display: inline;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .header-top-line ul li {
    padding: 0 5px;
  }
  .header-top-line ul li:last-child {
    display: none;
  }
}
.header-top-line ul li a {
  color: #333333;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header-top-line ul li a:hover {
  color: #66c05d;
}

.header-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #efefef;
  height: 120px;
}
@media screen and (max-width: 767px) {
  .header-container {
    height: unset;
  }
}
.header-container-content {
  width: 1110px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header-container-content {
    width: 100%;
    flex-direction: column;
  }
}
.header-container-content h1 {
  display: inline;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66c05d;
}
.header-container-content a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header-container-content a:hover {
  color: #66c05d;
}
.header-container-content .header-callback {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-container-content .header-callback {
    justify-content: center;
    padding-bottom: 25px;
  }
}
.header-container-content .header-logo {
  display: flex;
  align-items: center;
}
.header-container-content .header-logo img {
  margin: 0 20px 0 0;
}
@media screen and (max-width: 767px) {
  .header-container-content .header-logo {
    justify-content: center;
    padding: 15px 0;
  }
}
.header-container-content button {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background-color: #ffffff;
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #66c05d;
  margin: 0 0 0 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header-container-content button:hover {
  background-color: #66c05d;
  color: #ffffff;
}

.header-second-line {
  height: 79px;
  display: flex;
  justify-content: center;
}
.header-second-line ul {
  font-size: 16px;
  margin: 0;
  padding: 30px 0;
}
.header-second-line ul li {
  display: inline;
  padding: 0 40px;
}
.header-second-line ul a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header-second-line ul a:hover {
  color: #66c05d;
}

.promo {
  height: 604px;
  background-color: #66c05d;
  background-image: url("../images/promo-background.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.promo-container {
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.promo-container-content {
  width: 308px;
  color: #ffffff;
}
.promo-container-content h2 {
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 50px 0;
}
.promo-container-content p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 50px 0;
}
.promo-container-content button {
  background-color: #66c05d;
  color: #ffffff;
  width: 170px;
  height: 49px;
  font-family: "Roboto";
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
}
.promo-container-content button:hover {
  background-color: #ffffff;
  color: #66c05d;
}

.special-offer {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  padding: 80px 0 132px 0;
}
.special-offer-container {
  width: 1110px;
  height: 752.2px;
  background-image: url("../images/truck.png");
  background-repeat: no-repeat;
  background-position: 925px 0;
}
.special-offer-container h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 38px 0;
}
.special-offer-container .cards {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px 0;
}
.special-offer-container .cards .card {
  width: 255px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}
.special-offer-container .cards .card img {
  margin: 25px 0 20px 0;
}
.special-offer-container .cards .card h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.special-offer-container .cards .card .price {
  font-size: 21px;
  font-weight: 500;
  margin: 20px 0;
}
.special-offer-container .cards .card button {
  font-family: "Roboto";
  font-size: 14px;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-color: #66c05d;
  color: #ffffff;
  border: 2px solid #66c05d;
  margin: 0 0 25px 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.special-offer-container .cards .card button:hover {
  background-color: #ffffff;
  color: #66c05d;
}

.blocks {
  display: flex;
  justify-content: space-between;
  margin: 0 0 132px 0;
}
.blocks .bonus {
  width: 540px;
  background-color: #66c05d;
  background-image: url("../images/envelope.svg");
  background-repeat: no-repeat;
  background-position: 355px 36px;
  padding: 25px 0 35px 40px;
}
.blocks .bonus h3 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.blocks .bonus h4 {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.blocks .bonus input {
  border: none;
  width: 225px;
  height: 35px;
  color: #000000;
  border-radius: 30px;
  padding: 9px 0 9px 25px;
  font-size: 14px;
  outline: none;
  font-family: inherit;
}
.blocks .store-map {
  width: 540px;
  background-color: #66c05d;
  padding: 35px 0 35px 40px;
}
.blocks .store-map h3 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.blocks .store-map h4 {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.blocks .store-map button {
  width: 170px;
  height: 35px;
  border: 2px solid #ffffff;
  background-color: #66c05d;
  color: #ffffff;
  border-radius: 30px;
  font-family: "Roboto";
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.blocks .store-map button:hover {
  background-color: #ffffff;
  color: #66c05d;
}

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 120px;
}
.footer-container-content {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container-content .icons {
  width: 420px;
}
.footer-container-content .icons img,
.footer-container-content .icons svg {
  margin: 0 16px;
}
.footer-container-content .icons a:hover svg path {
  fill: darkgreen;
}
.footer-container-content span {
  font-size: 14px;
  color: #000000;
}
.footer-container-content a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}
.footer-container-content a:hover {
  color: #66c05d;
}
.footer-container-content button {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background-color: #ffffff;
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #66c05d;
  margin: 0 0 0 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer-container-content button:hover {
  background-color: #66c05d;
  color: #ffffff;
}

.footer-bottom-line {
  height: 64px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
}
.footer-bottom-line-content {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-line span {
  color: #333333;
  font-size: 12px;
}
.footer-bottom-line a {
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer-bottom-line a:hover {
  color: #66c05d;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
